#root {
  margin: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

@keyframes headershine {
  0% {
    color: #fff;
  }
  50% {
    color: #ffc339;
  }
  100% {
    color: #fff;
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  /* background: linear-gradient(to bottom, rgba(71, 181, 208, 0.538), white); */
}

.header-left {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header-left h1 {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  animation: headershine 5s linear infinite;
}

.header-left img {
  margin: 0 5px 0 5px;
  padding-bottom: 5px;
}

.header-right nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
  margin-right: 20px;
  font-weight: bold;
}

.header-right nav ul li a {
  text-decoration: none;
  color: rgb(0, 95, 151);
}

.header-right nav ul li a.active {
  color: #ffc43cd3;
}
