@keyframes shine {
  0% {
    color: #fff;
  }
  50% {
    color: #ffc339;
  }
  100% {
    color: #fff;
  }
}
.category-card-container {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  /* background-color: #ffc43c28; */
  animation: shine 5s linear infinite;
}

.category-card {
  flex: 1;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 0 20px 0 20px;
  background-image: url("/Users/aylas/Desktop/cms-blog/sky.jpeg");
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.category-card:hover {
  transform: scale(1.05);
  background-color: #fff;
  box-shadow: 0 0 20px #47b5d0;
}

.category-card h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0 0 0;
  color: #07728d;
}

.category-card img {
  width: 60%;
  max-height: 150px;
  border-bottom: 2px solid #47b5d0;
  margin-top: 20px;
  object-fit: cover;
}
