.hero-section {
  display: flex;
  align-items: center;
  gap: 20px;

  background: linear-gradient(to bottom, rgba(71, 181, 208, 0.538), white);
  padding-bottom: 30px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.hero-section img {
  width: 40%;
  max-height: 450px;
}

.hero-introduction {
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  color: rgb(20, 46, 110);
}

.hero-content h1 {
  margin-bottom: 10px;
  text-align: center;
  color: #ffc53c;
  font-family: fantasy;

  font-size: 25px;
}
