.hero-section {
  margin: 0 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.hero-section img {
  width: 40%;
  max-height: 500px;
}

.hero-introduction {
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  color: white;
}

.hero-content h1 {
  margin-bottom: 10px;
  text-align: center;
  color: #de5924;

  font-size: 25px;
}
